.edit-profile__title {
  margin: 0 0 42px 36px;
  width: 330px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media (min-width: 320px) and (max-width: 550px) {
  .edit-profile__title {
    margin: 0 0 7.63636364vw 6.54545455vw;
    width: 60vw;
    font-size: 4.36363636vw;
    line-height: 5.27272727vw;
  }
}
