.profile__text-container {
  width: 612px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__text-container {
    width: 88.125vw;
    margin-bottom: 36px;
  }
}
